In [1]:
#dictionary

In [2]:
#create adictionary of 5 countries and their capitals. print it.

a={'India':'New Delhi',
   'USA':'Washington DC',
   'japan': 'tokyo',
   'France':'Paris',
   'Germany':'Berlin',
   'afganistan':'Kabul'}
print(a)

{'India': 'New Delhi', 'USA': 'Washington DC', 'japan': 'tokyo', 'France': 'Paris', 'Germany': 'Berlin', 'afganistan': 'Kabul'}

In [4]:
#Access the capital of india from the dictionary and print it.
a={'India':'New Delhi',
   'USA':'Washington DC',
   'japan': 'tokyo',
   'France':'Paris'}
print(a['India'])

New Delhi

In [5]:
#Add a new key-value pair "japan": "tokyo " to the dictionary 
a={'India':'New Delhi',
   'USA':'Washington DC',
   'France':'Paris'}
a['japan'] = {'tokyo'}
print(a)

{'India': 'New Delhi', 'USA': 'Washington DC', 'France': 'Paris', 'japan': {'tokyo'}}

In [1]:
#update the capital of usa to new york in the dictionary and print the updated dictionary.
a={'India':'New Delhi',
   'USA':'Washington DC',
   'japan': 'tokyo',
   'France':'Paris'}
a["USA"] = "new york"
print (a)

{'India': 'New Delhi', 'USA': 'new york', 'japan': 'tokyo', 'France': 'Paris'}

In [3]:
#delete the key france using del
a={'India':'New Delhi',
   'USA':'Washington DC',
   'japan': 'tokyo',
   'France':'Paris'}
del a['France']
print(a)

{'India': 'New Delhi', 'USA': 'Washington DC', 'japan': 'tokyo'}

In [4]:
#create a dictinary of students and marks. use .keys() to print all student names
a={'student1':56,
   'student2':85,
   'student3':98}
print(a.keys())

dict_keys(['student1', 'student2', 'student3'])

In [5]:
#use .values() to print all marks
a={'student1':56,
   'student2':85,
   'student3':98}
print(a.values())

dict_values([56, 85, 98])

In [6]:
#use .item() to print all key-value pair
a={'student1':56,
   'student2':85,
   'student3':98}
print(a.items())

dict_items([('student1', 56), ('student2', 85), ('student3', 98)])

In [7]:
#use .get() to access the value of rahul safely(if not found, return not found)
a={'stu':56,
   'student2':85,
   'student3':98}
print(a.get('rahul', 'not found'))

not found

In [9]:
#use .update() to add multiple key-value pairs in one step
a={'student1':56,
   'student2':85,
   'student3':98}
a.update({'student4':58,'student5':86})
print(a)

{'student1': 56, 'student2': 85, 'student3': 98, 'student4': 58, 'student5': 86}

In [10]:
#use .pop(key) to remove germany from the dictionary
a={'India':'New Delhi',
   'USA':'Washington DC',
   'japan': 'tokyo',
   'France':'Paris',
   'germany':'Berlin'}
a.pop('germany')
print(a)

{'India': 'New Delhi', 'USA': 'Washington DC', 'japan': 'tokyo', 'France': 'Paris'}

In [11]:
#try popping a non  exinting key using .pop()  with a default value 
a={'India':'New Delhi',
   'USA':'Washington DC',
   'japan': 'tokyo',
   'France':'Paris'}
print(a.pop('USA', ' not found'))

Washington DC

In [12]:
#use .clear to remove all elements  from the dictionary
a={'India':'New Delhi',
   'USA':'Washington DC',
   'japan': 'tokyo',
   'France':'Paris'}
a.clear()
print(a)

{}

In [14]:
#create a dictionary make a copy using .copy and update the copy without affecting the original dictionary
a={'India':'New Delhi',
   'USA':'Washington DC',
   'japan': 'tokyo',
   'France':'Paris'}
b=a.copy()
b.pop('USA')
print(b)

{'India': 'New Delhi', 'japan': 'tokyo', 'France': 'Paris'}

In [15]:
#count frequency of words in a sentence using dictionary
sentence=input("enter the sentence-")
words=sentence.split()
freq = {}
for word in words:
    if word in freq:
        freq[word] +=1
    else:
        freq[word] = 1
print("word frequency:")
for word, count in freq.items():
    print(word, ":",count)

word frequency:
what : 1
is : 1
thw : 1

In [ ]:
#find the key with the maximum value in a student marks 
a={'student1':56,
   'student2':85,
   'student3':98}

In [16]:
#write a function that prints hello world
def hello_world():
    print("Hello World")
hello_world()

Hello World

In [ ]:
#write a function that takes ainput name  and print hell name
def greet(name):
    print('hello',name)
greet('A')

In [ ]:
#write a function that takes two numbers and prints  their sum
def add(a,b):
    print(a+b)
add(2,3)

In [18]:
#write a function that returns the square of numbers and returns their maximum
def s(a):
    print(a**2)
s(5)

25

In [19]:
#write a function that  check if a number is odd or even
def e(n):
    if n%2==2:
        print("even")
    else:
        print("odd")
e(3)

odd

In [20]:
#write a function that takes two numbers and returns their maximum
def max(a,b):
    if a>b:
        return a
    else:
        return b
max(2,6)

6

In [23]:
#write a function that takes list of numbers and returns their average
def a(numbers):
    total = 0
    count = 0
    for num in numbers:
        total += num
        count += 1
    average = total / count
    return average
a([2,6,5,7,4])

4.8

In [26]:
#write a function that counts vovels in a string
def v(string):
    count=0
    vovel="a,e,i,o,u,A,E,I,O,U"
    for char in string:
        if char in vovel:
            count += 1
    return count
v("hello")

2

In [12]:
#write a function that calculates factorial of a number
def fac(a):
    b=a
    while a>1:
        b=b*(a-1)
        a-=1
    return b
fac(5)

120

In [19]:
#write a function to check if a number is palindrome or not
def num(n):
    original=n
    reverse=0
    while n>0:
        digit=n%10
        reverse=reverse*10+digit
        n=n//10
    if reverse==original:
        print("it is palindrome number")
    else:
        print("it is not a  palindrome number")

    
num(65)

it is not a  palindrome number